*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}


.container{
    display:flex;
    flex-direction: inline;
    flex-wrap: wrap;
    width:100%;
    height:100%;
    position:relative;
}



.margin-top{
    margin-top:12vh;
}
