.projects__margin{
    position:absolute;
    display: grid;
    height:95%;
    grid-template-columns: repeat(4, 330px);
    grid-template-rows: repeat(4, 220px);
}
@media (max-width:1800px){
    .projects__margin{
        grid-template-columns: repeat(3, 360px);
        grid-template-rows: repeat(4, 240px);
    }
}
@media (max-width:1600px){
    .projects__margin{
        grid-template-columns: repeat(4, 360px);
        grid-template-rows: repeat(3, 240px);
    }
}
@media (max-width:1550px){
    .projects__margin{
        grid-template-columns: repeat(3, 390px);
        grid-template-rows: repeat(4, 240px);
    }
}
@media (max-width:1300px){
    .projects__margin{
        grid-template-columns: repeat(2, 390px);
        grid-template-rows: repeat(5, 240px);
    }
}
@media (max-width:900px){
    .projects__margin{
        grid-template-columns: repeat(1, 360px);
        grid-template-rows: repeat(10, 240px);
    }
}
@media (max-width:400px){
    .projects__margin{
        grid-template-rows: repeat(10, 125px);
    }
}